# SPDX-FileCopyrightText: 2023 Charles Crighton <code@crighton.nz>
#
# SPDX-License-Identifier: GPL-3.0-or-later

build
esptool
minify-html
mpremote
pipkin
pre-commit
pypi_json
python_minifier
reuse
setuptools
